* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

body {
  overflow: hidden;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50px;
  transform: translateX(-50%);
}
